<div class="table-container">
    <h4>Informações do Demonstrativo</h4>
    <table class="report-table">
        <tbody>
            <tr>
                <td>CAR</td>
                <td>{{ statement.car|default:"-" }}</td>
            </tr>
            <tr>
                <td>Data Retificação</td>
                <td>{{ statement.data_retificacao|default:"-" }}</td>
            </tr>
            <tr>
                <td>Condição Externa</td>
                <td>{{ statement.external_condicion|default:"-" }}</td>
            </tr>
            <tr>
                <td>Módulos Fiscais</td>
                <td>{{ statement.tax_modules|default:"-" }}</td>
            </tr>
            <tr>
                <td>Status do Registro</td>
                <td>{{ statement.registration_status|default:"-" }}</td>
            </tr>
            <tr>
                <td>Área Remanescente de Vegetação Nativa</td>
                <td>{{ statement.native_vegetation_remmant_area|default:"-" }}</td>
            </tr>
            <tr>
                <td>Área Rural Consolidada</td>
                <td>{{ statement.area_rural_consolidada|default:"-" }}</td>
            </tr>
            <tr>
                <td>Área de Servidão Administrativa</td>
                <td>{{ statement.area_servidao_admistrativa|default:"-" }}</td>
            </tr>
            <tr>
                <td>RL Averbada (Art. 30)</td>
                <td>{{ statement.area_Reserva_Legal_Averbada_referente_Art_30_codigo_florestal|default:"-" }}</td>
            </tr>
            <tr>
                <td>RL Aprovada não Averbada</td>
                <td>{{ statement.area_Reserva_Legal_Aprovada_nao_Averbada|default:"-" }}</td>
            </tr>
            <tr>
                <td>RL Proposta</td>
                <td>{{ statement.area_reserva_legal_proposta|default:"-" }}</td>
            </tr>
            <tr>
                <td>Total RL Declarada</td>
                <td>{{ statement.total_reserva_legal_declarada_pelo_proprietario_possuidor|default:"-" }}</td>
            </tr>
            <tr>
                <td>Área APP</td>
                <td>{{ statement.area_app|default:"-" }}</td>
            </tr>
            <tr>
                <td>APP em Área Rural Consolidada</td>
                <td>{{ statement.app_em_area_rural_consolidada|default:"-" }}</td>
            </tr>
            <tr>
                <td>APP em Remanescente de Veg. Nativa</td>
                <td>{{ statement.app_em_area_remanescente_vegetacao_nativa|default:"-" }}</td>
            </tr>
            <tr>
                <td>Passivo/Excedente RL</td>
                <td>{{ statement.passivo_ou_excedente_de_reserva_legal|default:"-" }}</td>
            </tr>
            <tr>
                <td>RL a Recompor</td>
                <td>{{ statement.area_reserva_legal_a_recompor|default:"-" }}</td>
            </tr>
            <tr>
                <td>APP a Recompor</td>
                <td>{{ statement.area_de_preservacao_permanente_a_recompor|default:"-" }}</td>
            </tr>
            <tr>
                <td>Área Antropizada</td>
                <td>{{ statement.area_antropizada|default:"-" }}</td>
            </tr>
        </tbody>
    </table>
</div>
